<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--  新添加-原始功能对象 OrderServiceImpl  -->
    <bean id="orderService" class="com.xiaoming.basic.proxy.OrderServiceImpl" />
    <!--  原始功能对象 UserServiceImpl  -->
    <bean id="userService" class="com.xiaoming.basic.proxy.UserServiceImpl"/>
    <!--  额外功能对象-log  -->
<!--    <bean id="before" class="com.xiaoming.basic.dynamic.Before"/>-->
    <!--  额外功能对象2-log  -->
<!--    <bean id="before" class="com.xiaoming.basic.dynamic.Before2"/>-->
    <bean id="around" class="com.xiaoming.basic.dynamic.Around"/>
    <aop:config>
        <!--    切入点：所有方法都作为切入点    -->
        <aop:pointcut id="pc" expression="execution(* *(..))"/>
        <!--    组装    -->
        <aop:advisor advice-ref="around" pointcut-ref="pc"></aop:advisor>
    </aop:config>
</beans>