<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="category" class="com.xiaoming.basic.beanpost.Category">
        <property name="name" value="张三丰"/>
        <property name="id" value="17"/>
    </bean>

    <bean id="myBeanPostProcessor" class="com.xiaoming.basic.beanpost.MyBeanPostProcessor"/>

    <bean id="user" class="com.xiaoming.basic.beanpost.User"/>
</beans>